*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.volvo-design{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.volvo-overall{
    margin-top: 150px;
    display: flex;
    
    justify-content: center;
    gap: 70px;
}
.volvo-design:hover{
    transform: scale(1.3);
    z-index: 3;
}
@media only screen and (min-width: 300px) and (max-width: 500px){
    .volvo-overall{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .volvo-design{
        width: 200px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 800px){
    .volvo-overall{
        display: flex;
        flex-wrap: wrap;
    }
}