*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.about-head{
    margin-top: 100px !important;
    color: #00ADB5;
    font-weight: bolder;
    text-align: center;
}
.about-para{
    margin-top: 30px !important;
    color: #00ADB5;
    font-weight: bolder;
    display: flex;
    padding-left: 40%;

}
.about-continer1{
    background-color: #00ADB5;
    height: 600px;
    width: 40%;

}
.about-content-overall{
    display: flex;
}
.about-continer2{
    background-color: #222831;
    height: 600px;
    width:60% ;
  
   

}
.aboutposition{
    height: 450px;
    width: 90%;
    position: relative;
    top: 60px;
    left: 300px;
    /* top: -300px; */
    /* bottom: 550px; */
    

}
.about-card{
    border: 2px solid lightgrey;
    width: 300px;
padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}
.happy{
    font-weight: bolder !important;
    text-align: center;
    color: #00215E;
    padding: 30px;
}
.billu{
    border-radius: 50px;
  

}
.developer{
    color: #00ADB5;
    text-align: center;
}
.about-name{
    text-align: center;
    margin-top: 30px;
    font-weight: bolder !important;
}
.aboutcards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
@media only screen and (min-width: 300px) and (max-width: 500px){
    .about-continer1{
        display: flex;
        flex-direction: column;
    }
    .aboutposition{
        display: none !important;
        
    }

    .about-continer1{
        width: 100%;
    }
    .about-continer2{
        height: 800px;
        width: 100%;
    }
    .about-content-overall{
        display: flex;
        flex-direction: column;
    }
    .aboutcards{
        display: flex;
        flex-direction: column;
    }
    .about-para{
        padding-left: 10%;
    }
       .aboutmp4{
        display: none !important;
    }
}
@media only screen and (min-width: 500px) and (max-width: 800px){

    .aboutposition{
        display: none !important;
        
    }
    .about-continer2{
        width: 100%;
    }
    .aboutcards{
        display: flex;
        
        flex-wrap: wrap;
    }
    .about-para{
        padding-left: 20%;
    }
 
}